

#bookings table {
  border-collapse: collapse;
  width: 100%;
}

#bookings th, #bookings td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

#bookings h2 {
  font-size: 24px;
}
