// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.title-div {
  text-align: center;
}

.title-div>h1{
  font-size: 32px;
  margin: 0;
  margin-top: 10px;
}

.card-main>a {
  color: #DB8434;
  text-decoration: none;

  &:hover {
    color: #9a5718;
  }
}

.row{
  margin-top: -10px;
}
