// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";

.title-div {
  display: flex;
  justify-content: space-between;
}

.card-main>a {
  color: #DB8434;
  text-decoration: none;

  &:hover {
    color: #9a5718;
  }
}
