<h1>all cats</h1>
<%= link_to "Add a new cat", new_cat_path  %>

<ul>
<% @cats.each do |cat| %>
  <li>
  <%= link_to cat.name, cat_path(cat) %>
  </li>
<% end %>
</ul>

<%= link_to "Show my cats", admin_cats_path  %>
